$row_border: #e8e8e8;
$icon_color: #242424;
$light_gray: #969696;

@mixin button_plain {
  border: none;
  background-color: transparent;
  display: block;
  outline: none;
  cursor: pointer;
}

tr {
  border-bottom: 1px solid $row_border;
  td {
    padding: 0.75em 0;
    &.control {
      padding-right: 1em;
      padding-left: 1em;
      cursor: pointer;
    }
  }
}

.nested_row {
  border-bottom: none;
  & > td {
    padding-top: 1.5em;
    padding-bottom: 1.5em;
  }
}
.pointer {
  cursor: pointer;
}
.arrow {
  border: solid $icon_color;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  transition: transform 0.3s ease;

  &_right {
    transform: rotate(-45deg);
  }
  &_down {
    transform: rotate(45deg);
  }
}

.delete_icon {
  $height: 16px;
  width: $height;
  height: $height;
  position: relative;
  &::after,
  &::before {
    content: "";
    height: $height;
    border-left: 2px solid $light_gray;
    position: absolute;
    left: calc(#{$height} / 2);
  }
  &::after {
    transform: rotate(45deg);
  }
  &::before {
    transform: rotate(-45deg);
  }
}

button.delete {
  @include button_plain();
  &:hover {
    .delete_icon::before,
    ::after {
      border-left-color: $icon_color;
    }
  }
}
